@import './vars';
.item {
  font-size: 16px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 2px auto;
  padding: 4px;
  .task-title {
    color: var(--orange-color);
    font-size: xx-large;
    font-family: var(--inspiration-font-family);
  }
  .task-content {
    color: var(--secondary-color);
    text-transform: capitalize;
    min-width: 10ch;
    width: 40ch;
    max-width: 45ch;
  }
  .input-btns {
    display: grid;
    grid-template-columns: 2.5fr 0.5fr;

    .section-btn {
      width: 100%;
      display: grid;
      grid-template-columns: 1.4fr 1fr;
      justify-content: space-between;
      height: 2em;
      .content-btn {
        background-color: transparent;
        border: solid 1px var(--orange-color);
        border-radius: 5px;
        color: var(--orange-color);
        cursor: pointer;
        min-width: min-content;
        width: 4em;
        max-width: 70px;

        transition: var(--transition);
      }
      .content-btn:hover {
        background-color: var(--orange-color);

        color: var(--primary-color);
      }
      .delete-btn {
        background-color: transparent;
        border: solid 1px var(--red-color);
        color: var(--red-color);

        cursor: pointer;
        min-width: min-content;
        width: 4em;

        max-width: 60px;
        border-radius: 5px;
        transition: var(--transition);
      }
      .delete-btn:hover {
        background-color: var(--red-color);

        color: var(--primary-color);
      }
    }
    .checkbox-input {
      accent-color: var(--orange-color);
      color: white;
    }
  }
}
@include phone {
  .item {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    width: 99%;

    padding: 0px;
    .title-content-section {
      grid-row: 0/-1;
      grid-column: 0/2;
      background-color: aqua;
      width: 100%;
      border: 2px solid salmon;
    }

    .input-btns {
      background-color: blue;
      width: 100%;

      align-items: stretch;
      .section-btn {
        justify-items: end;
      }
    }
  }
}
