:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(92, 88, 88);
  --orange-color: rgb(250, 166, 9);
  --black-color: rgb(0, 0, 0);
  --red-color: rgb(255, 1, 1);
  --blue-color: rgb(1, 48, 255);
  --transition: all 2s linear;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
