.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0vh;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal .edit-title {
  margin: auto;
  color: rgb(250, 166, 9);
  font-size: larger;
  font-family: "Inspiration", cursive;
}

.modal-content {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7450980392);
  margin: 30vh auto;
  border-radius: 2em;
  /* 15% from the top and centered */
  padding: 10px;
  border: 2px solid rgb(250, 166, 9);
  width: 30%; /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
}

.close {
  margin-right: 2em;
  margin-top: 2em;
  color: rgb(255, 255, 255);
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all 1s linear;
}

.close:hover,
.close:focus {
  color: rgb(250, 166, 9);
  cursor: pointer;
}

.edit-form-content {
  width: 80%;
  margin: 4px auto;
  display: flex;
  flex-direction: column;
}
.edit-form-content .edit-btn {
  width: 5em;
  margin: 0 auto;
  margin-top: 4px;
  color: rgb(250, 166, 9);
  border: none;
  background-color: transparent;
}
.edit-form-content .inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.edit-form-content .inputs .edit-input {
  width: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  border: none;
  border-bottom: 2px solid rgb(250, 166, 9);
  font-family: "Courier New", Courier, monospace;
  color: rgb(250, 166, 9);
  text-transform: capitalize;
}
.edit-form-content .inputs .edit-input:focus {
  outline: none;
}
.edit-form-content .inputs .edit-input::-moz-placeholder {
  padding-left: 0.2em;
  color: rgb(250, 166, 9);
  font-size: 0.95rem;
  font-weight: bolder;
  padding-left: 2px;
  font-family: "Inspiration", cursive;
}
.edit-form-content .inputs .edit-input:-ms-input-placeholder {
  padding-left: 0.2em;
  color: rgb(250, 166, 9);
  font-size: 0.95rem;
  font-weight: bolder;
  padding-left: 2px;
  font-family: "Inspiration", cursive;
}
.edit-form-content .inputs .edit-input::placeholder {
  padding-left: 0.2em;
  color: rgb(250, 166, 9);
  font-size: 0.95rem;
  font-weight: bolder;
  padding-left: 2px;
  font-family: "Inspiration", cursive;
}
.edit-form-content .inputs .edit-input:invalid {
  outline: red;
}

@media (max-width: 766px) {
  .modal .edit-title {
    font-size: small;
    font-family: "Inspiration", cursive;
  }
  .modal-content {
    position: relative;
    background-color: rgba(255, 255, 255, 0.7450980392);
    margin: 30vh auto;
    border-radius: 0.5em;
    /* 15% from the top and centered */
    padding: 6px;
    border: 2px solid rgb(250, 166, 9);
    width: 98%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: 200px;
    min-width: 150px;
    max-width: 500px;
    max-height: 90%; /* Could be more or less, depending on screen size */
  }
  .edit-form-content {
    width: 80%;
    margin: 4px auto;
    display: flex;
    flex-direction: column;
  }
  .edit-form-content .edit-btn {
    width: 5em;
    margin: 0 auto;
    margin-top: 4px;
    color: rgb(250, 166, 9);
    border: none;
    background-color: transparent;
  }
  .edit-form-content .inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .edit-form-content .inputs .edit-input {
    width: 100%;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    border: none;
    border-bottom: 2px solid rgb(250, 166, 9);
    font-family: "Courier New", Courier, monospace;
    color: rgb(250, 166, 9);
    text-transform: capitalize;
  }
  .edit-form-content .inputs .edit-input:focus {
    outline: none;
  }
  .edit-form-content .inputs .edit-input::-moz-placeholder {
    padding-left: 0.2em;
    color: rgb(250, 166, 9);
    font-size: 0.5rem;
    font-weight: bold;
    padding-left: 1px;
    font-family: "Inspiration", cursive;
  }
  .edit-form-content .inputs .edit-input:-ms-input-placeholder {
    padding-left: 0.2em;
    color: rgb(250, 166, 9);
    font-size: 0.5rem;
    font-weight: bold;
    padding-left: 1px;
    font-family: "Inspiration", cursive;
  }
  .edit-form-content .inputs .edit-input::placeholder {
    padding-left: 0.2em;
    color: rgb(250, 166, 9);
    font-size: 0.5rem;
    font-weight: bold;
    padding-left: 1px;
    font-family: "Inspiration", cursive;
  }
  .edit-form-content .inputs .edit-input:invalid {
    outline: red;
  }
}/*# sourceMappingURL=modal.css.map */